
.primary{
    width: 269px; 
    height: 60px;
    background-color: #F35636;
    border: #F35636 1px solid;
    font-size: 24px;
    font-weight: 700; 
    text-transform: uppercase;
    

}

.secondary{
    color: red;
    width: 269px; 
    height: 60px;
    background: none;
    border: #F35636 1px solid;
    font-size: 24px;
    font-weight: 700; 
    text-transform: uppercase;
}

