footer{
    background-color: #000000;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 870px;
    margin-left:0;
    margin-top: -130px;
    position: relative;
    right: 5px;
   
}

.whiteLogotype {
    height: 72.5px;
    width: 108px;
    margin-top:73px;
    position: relative;
    left:15px;
}

footer h3 {
    font-family: roboto;
    font-size: 24px;
    margin-left:0px;
    margin-top:0px;
    font-weight: bold;
    color:white;
    position: absolute;
    left:125px;
}

.footertext {
    position: relative;
    top: 40px;

}


.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    align-items: center;
    width: 150px;
    height: 221px;
    font-size: 24px;
    line-height: 28px;
    
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    align-items: center;
    width: 150px;
    height: 186px;
    font-size: 24px;
    line-height: 28px;
}

.socialmedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top:600px;
    
}

.socialmedia span {
    display: flex;
    flex-direction: row;
    
}

.socialmedia p {
    text-align: center;

}

#instagramlogo {
    height: 77px;
    width: 77px;
    margin-right:15px;
}
#facebooklogo {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(353deg) brightness(100%) contrast(104%);
    height: 77px;
    width: 77px;
    margin-left:15px;
}

@media screen and (min-width: 834px) {

    footer {
      width: 834px;
      height: 625px;
      margin-top: -140px;
    }
    
    footer section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width:685px;
        margin-top: 50px;  
    }

    .contact {
        text-align: left;
        width: 215px;
        margin-right: 75px;
    }

    .address {
        margin-top:18px;
        text-align: left;
    }

    .socialmedia {
        top:300px;
    }

   .socialmedia p{
        text-align: left;
    }

    .whiteLogotype{
        margin-top: 70px; 
        left: 0px;
    }

    footer h3 {
        top: 200px;
        left: 70px;
    }

}



