.firstPage {
    width: 375px;
    text-align: left;
    margin-top: 147px;
}

.h1desktop {
    display: none;
}

h1 {
    width: 313px;
    float: left;
    margin-left: 29px;
}

.mainText {
    margin-left: 30px;
    width: 315px;
    margin-bottom: 34px;
}

.genericFish {
    width: 274px;
    height: 152px;
    transform: matrix(-0.99, -0.16, -0.16, 0.99, 0, 0);
    margin-left: 45px;
}

.bubble {
    margin-left: 40px;
    margin-bottom: -36px;
    -webkit-animation: mover 25s infinite;
    animation: mover 25s infinite;
    animation-delay: 1s;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

/* Ipad */
@media screen and (min-width: 834px) {

    .firstPage {
        width: 834px;
        margin-top: 147px;
    }

    .h1desktop {
        display: none;
    }

    h1 {
        width: 550px;
        font-size: 64px;
        line-height: 90px;
        margin-left: 163px;
        margin-right: 124px;
        margin-bottom: 15px;
    }

    .mainText {
        margin-left: 165px;
        margin-right: 145px;
        width: 524px;
        margin-bottom: 94px;
    }

    .genericFish {
        width: 484px;
        height: 270px;
        transform: matrix(-0.99, -0.14, -0.14, 0.99, 0, 0);
        margin-left: 177px;
        margin-right: 139px;
    }

    .bubble {
        margin-left: 180px;
        margin-bottom: -60px;
    }
}

/* Desktop*/
@media screen and (min-width: 1440px) {
    .firstPage {
        width: 1440px;
        margin-top: 147px;
        display: flex;
    }

    .textFirstPage {
        width: 545px;
        margin-left: 198px;
        margin-right: -20px;
    }

    .imgFirstPage {
        width: 518px;
        margin-right: 173px;
    }

    .genericFish {
        width: 518px;
        height: 337px;
        transform: matrix(-0.99, -0.14, -0.14, 0.99, 0, 0);

    }

    .h1smallScreens {
        display: none;
    }

    .h1desktop {
        display: inline-block;
    }

    h1 {
        width: 545px;
        font-size: 64px;
        line-height: 90px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .mainText {
        margin-left: 0px;
        margin-right: 0px;
        width: 524px;
        margin-bottom: 94px;
    }

    .bubble {
        margin-left: 170px;
        margin-bottom: -120px;
    }
}