/* product card 1 */
.productCardOne {
    background: #07415A;
    border: #0F1010 solid 2px;
    box-shadow: #070707 5px 5px 0px 0px;
    border-radius: 39px;
    width: 334px;
    Height: 648px;
    margin-left: 20px;
    margin-top: 57px;
}

.heading {
    width: 334px;
    text-align: left;
    margin-left: 32px;
}

.productgroup {
    display: flex;
    width: 286px;
    margin: 0px auto;
    margin-left: 22px;
}

.productgroup p {
    color: white;
    margin-top: 0px;
    float: left;
}

.pricegroup {
    width: 159px;
    height: 98px;
    padding-right: 7px;
}

.price {
    float: left;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 0px;
}

.imgYellowFishBig{
    display:none;
}

.imgYellowFish {
    width: 127px;
    height: 97px;
    float: right;
}

.textCardOne {
    width: 247px;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 58px;
    text-align: left;
    padding-right: 23px;
}

/* product card 2 */
.productCardTwo {
    margin-top: 101px;
    width: 334px;
    Height: 648px;
}

.textCardTwo {
    width: 301px;
    margin: 0px auto;
    text-align: left;
    padding-top: 50px;
    padding-left: 37px;
    padding-bottom: 58px;
}

.productCardTwo .price {
    width: 301px;
    text-align: left;
    padding-left: 32px;
    line-height: 0px;
}

.seaweedGroup {
    width: 334px;
}

.btnGroup {
    width: 174px;
    float: left;
    margin-left: 27px;
    margin-right: 23px;
}

.imgSeaweed {
    width: 98px;
    height: 203px;
    float: right;
}

.imgSeaweedSmall {
    width: 38px;
    height: 78px;
    transform: matrix(0.79, 0.61, -0.61, 0.79, 0, 0);
    margin-left: 267px;
    margin-top: -110px;
}

/* Ipad */
@media screen and (min-width: 834px) {

    /* productcard 1*/
    .productCardOne {
        width: 725px;
        height: 516px;
        margin-top: 92px;
    }

    .heading {
        width: 474px;
        margin-left: 126px;
        margin-top: 54px;
    }

    .productgroup {
        width: 725px;
        margin-left: 126px;
    }

    .productgroup p {
        margin-top: 15px;
    }

    .pricegroup {
        padding-right: 141px;
        margin-top: -15px;
    }

    .imgYellowFishBig{
        display:none;
    }

    .imgYellowFish {
        width: 213px;
        height: 181px;
        margin-top: -70px;
    }

    .textCardOne {
        width: 474px;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 126px;
    }

    .btnGroupOne {
        width: 455px;
        margin-left: 114px;
        margin-right: 156px;
        float: left;
    }

    /* product card 2 */
    .productCardTwo {
        margin-top: 136px;
        width: 472px;
        margin-left: 199px;
        margin-left: 163px;
    }

    .productCardTwo .heading {
        margin-left: 0px;
        padding-left: 0px;
    }

    .textCardTwo {
        width: 472px;
        margin-left: 0px;
        padding-left: 0px;
        padding-bottom: 59px;
    }

    .productCardTwo .price {
        margin-left: 0px;
        padding-left: 0px;
    }

    .btnGroup {
        width: 222px;
        margin-left: 10px;
    }

    .imgSeaweed {
        width: 151px;
        height: 291px;
        margin-top: -62px;
        margin-right: 45px;
    }

    .imgSeaweedSmall {
        width: 56px;
        height: 114px;
        transform: matrix(0.78, 0.57, -0.66, 0.8, 0, 0);
        margin-left: 287px;
    }

}

/* desktop*/

@media screen and (min-width: 1440px) {

    /* productcard 1*/
    .productCardOne {
        margin-top: 92px;
        margin-left: 486px;
        margin-bottom: 120px;
    }

    .productCardOne .heading {
        width: 444px;
        margin-left: 157px;
        margin-top: 77px;
        margin-bottom: 0px;
    }

    .productgroup {
        width: 444px;
        margin-left: 157px;
    }

    .productgroup p {
        float: left;
        line-height: 56px;
        margin-right: 10px;
    }

    .productgroup .price {
        float: right;
        margin-bottom: 15px;
        margin-top: 12px;
        line-height: 56px;
    }

    .pricegroup {
        width: 444px;
        padding-right: 0px;
        margin-top: 0px;
        display: inline-flex;
    }

    .imgYellowFishBig{
        display:inline-flex;
        position: absolute;
        width: 388px;
        height: 297px;
        margin-top: 200px;
        margin-left: 220px;
    }

    .imgYellowFish {
      display: none;
    }

    .textCardOne {
        width: 444px;
        margin-left: 157px;
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .btnGroupOne {
        margin-left: 158px;
        margin-right: 141px;
        width: 426px;
    }

    /* product card 2 */
    .productCardTwo {
        margin-top: 120px;
        width: 725px;
        margin-left: 357px;
        margin-right: 358px;
    }

    .productCardTwo .heading {
        width: 474px;
    }

    .textCardTwo {
        width: 474px;
        margin-left: 0px;
        padding-left: 0px;
        padding-bottom: 40px;
    }

    .btnGroup {
        width: 468px;
        margin-left: -3px;
    }

    .imgSeaweed {
        width: 210px;
        height: 394px;
        margin-top: -260px;
        margin-right: 0px;
    }

    .imgSeaweedSmall {
        width: 78px;
        height: 155px;
        transform: matrix(0.78, 0.57, -0.66, 0.8, 0, 0);
        margin-top: -130px;
        margin-left: 580px;
    }
}