body {
    background-image: url("img/background-mobile.jpg");
    background-repeat: no-repeat;
    background-position:top;
    background-color: #05303F;
    width: 375px;
}

article {
    text-align: center;
}

/* mobile first */
main {
    max-width: 313px;
}

h1 {
    font-family: coustard;
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
    line-height: 90px;
}

h2 {
    font-family: coustard;
    font-weight: 900;
    font-size: 40px;
    color: #FFFFFF;
    line-height: 35px;
}

.price{
    color: #FDBF57;
}

p{
    font-family: roboto;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 35px;
}

/* 
styling fonts
font-family: 'Abel', sans-serif;
font-family: 'Coustard', serif;
font-family: 'Gruppo', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Voltaire', sans-serif;
*/ 