body {
    background-image: url("img/background-mobile.jpg");
    background-repeat: no-repeat;
    background-position:top;
    background-color: #05303F;
    width: 375px;
    
}

article {
    text-align: center;
}

/* mobile first */
main {
    max-width: 313px;
}

h1 {
    font-family: coustard;
    font-weight: 900;
    font-size: 36px;
    color: #FFFFFF;
    line-height: 89,88px;
}

h2 {
    font-family: coustard;
    font-weight: 900;
    font-size: 40px;
    color: #FFFFFF;
    line-height: 35px;
}

.price{
    color: #FDBF57;
}

p{
    font-family: roboto;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 35px;
}