$darkNavyBlue: #052C3D;
$coral: #F5592C;
$yellowMist: #FDBF57;
$snowWhite: #FFFFFF;
$nightBlack: #000000;
$navyBlue: #07415A;

body {
    width: 100vw;
    background-color: $darkNavyBlue;
    margin: 0px;
}

.root {
    background-image: url("img/backgroundM1.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-color: $darkNavyBlue;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%)
}

article {
    text-align: center;
}

/* mobile first */
main {
    max-width: 375px;
}

h1 {
    font-family: coustard;
    font-weight: bold;
    font-size: 36px;
    color: $snowWhite;
    line-height: 50px;
}

h2 {
    font-family: coustard;
    font-weight: 900;
    font-size: 40px;
    color: $snowWhite;
    line-height: 35px;
}

/* HEADER */

header {
    width: 375px;
    margin: 0px;

}

.blueLogotype {
    height: 40px;
    width: 54px;
    margin-bottom: 2px;
    margin-left: 20px;
    margin-right: 27px;
    margin-top: 10px;
    position: absolute;
    top: 8px;

}

h3 {
    font-family: roboto;
    position: abolute;
    font-size: 12px;
    margin-left: 18px;
    margin-top: 12px;
    font-weight: bold;
    position: relative;
    top: 48px;

}

.headerLogo {
    margin-top: 15px;
    max-width: 375px;

}

header input {
    position: absolute;
    border-radius: 100px;
    width: 186px;
    height: 21px;
    left: 103px;
    top: 35px;

}

header button {
    position: absolute;
    left: 237px;
    top: 37px;
    border: none;
    border-radius: 100px;
    width: 58.5px;
    height: 23px;
    background: $coral;
    font-family: roboto;
    color: white;
    font-weight: bold;
    font-size: 12px;

}

header button:hover {
    cursor: pointer;
}

header p {
    position: absolute;
    color: black;
    width: 50px;
    height: 9px;
    left: 70px;
    top: 14px;
    margin-bottom: 0px;
    margin-left: 50px;

    font-family: voltaire;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
}

.shoppingcart {
    position: absolute;
    right: 18px;
    top: 35px;
    height: 27px;
    width: 32px;
    margin-left: 27px;

}

.shoppingcart:hover {
    cursor: pointer;
}

/* BTN */
.primary {
    width: 268px;
    height: 60px;
    background-color: $coral;
    border: $coral 1px solid;
    border-radius: 7px;
    font-family: roboto;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 28.13px;
    margin: 10px;
}

.primary:hover {
    border: $snowWhite 5px solid;
    cursor: pointer;
}

.primary:active {
    background: $coral;
    border: $yellowMist 5px solid;
}

.secondary {
    color: $coral;
    width: 268px;
    height: 60px;
    background: none;
    border: $coral 5px solid;
    border-radius: 7px;
    font-family: roboto;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28, 13px;
    margin: 10px;
}

.secondary:hover {
    background: $snowWhite;
    border: $coral 5px solid;
    cursor: pointer;
}

.secondary:active {
    background: none;
    border: $snowWhite 5px solid;
}

.smallbtn {
    width: 174px;
}

/* COOKIE */

.cookie-banner {
    position: sticky;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2147483645;
    background: $darkNavyBlue;
    border: 5px solid $coral;
    box-sizing: border-box;
    border-radius: 10px;
    width: 375px;
    font-family: 'Roboto';
    font-style: normal;
}

.cookie-banner p {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: left;
    padding: 0 10px;
}

.cookie-accept-btn,
.cookie-setting-btn {
    cursor: pointer;
    width: 215px;
    height: 43px;
    border-radius: 1px 15px;
    font-size: 20px;
}

.cookie-accept-btn {
    border: none;
    font-weight: bold;
    line-height: 23px;
    background: $coral;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}

.cookie-accept-btn:hover {
    border: 5px solid #FFFFFF;
}

.cookie-accept-btn:active {
    border: 5px solid #F4C23F;
}

.cookie-setting-btn:hover {
    background: #FFFFFF;
}

.cookie-setting-btn {
    border: 5px solid #F35636;
    box-sizing: border-box;
    background: $darkNavyBlue;
    border: 5px solid $coral;
    color: $coral;
    margin-bottom: 17px;
}

/* MAIN */

.firstPage {
    width: 375px;
    text-align: left;
    margin-top: 147px;
    line-height: 90px;
}

.h1desktop {
    display: none;
}

h1 {
    width: 313px;
    float: left;
    margin-left: 29px;
    margin-bottom: 15px;
}

.textDesktop {
    display: none;
}

.mainText {
    margin-left: 30px;
    width: 315px;
    margin-bottom: 0px;
}


.genericFish {
    width: 274px;
    height: 152px;
    transform: matrix(-0.99, -0.16, -0.16, 0.99, 0, 0);
    margin-left: 45px;
}

.bubble {
    margin-left: 40px;
    margin-bottom: -36px;
    -webkit-animation: mover 25s infinite;
    animation: mover 25s infinite;
    animation-delay: 1s;
    margin-top: 0px;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

/* NAVIGATION */

nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: 88px 86px 127px;
    grid-gap: 14px;
    padding: 0;
    position: absolute;
    top: 85px;
    left: 17px;
}

nav ul li {
    background-color: $navyBlue;
    color: $snowWhite;
    border: $navyBlue 4px solid;
    text-align: center;
    font-family: 'Voltaire';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    border-radius: 5px;
    height: 31px;
    padding: 5px 0;
}

nav ul li:hover {
    color: $navyBlue;
    background-color: $snowWhite;
    cursor: pointer;
}

nav ul li:active {
    color: $navyBlue;
    background-color: #B2B2B2;
}


/* PRODUCT CARDS */
.price {
    color: $yellowMist;
}

p {
    font-family: roboto;
    font-weight: 400;
    font-size: 24px;
    color: $snowWhite;
    line-height: 35px;
}

/* PRODUCT CARD 1 */
.productCardOne {
    background: $navyBlue;
    border: #0F1010 solid 2px;
    box-shadow: #070707 5px 5px 0px 0px;
    border-radius: 39px;
    width: 334px;
    height: 648px;
    margin-left: 20px;
    margin-top: 57px;
}

.heading {
    width: 334px;
    text-align: left;
    margin-left: 32px;
}

.productgroup {
    display: flex;
    width: 286px;
    margin: 0px auto;
    margin-left: 22px;
}

.productgroup p {
    color: white;
    margin-top: 0px;
    float: left;
}

.pricegroup {
    width: 159px;
    height: 98px;
    padding-right: 7px;
}

.price {
    float: left;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 0px;
}

.imgYellowFishBig {
    display: none;
}

.imgYellowFish {
    width: 127px;
    height: 97px;
    float: right;
}

.textCardOne {
    width: 247px;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 58px;
    text-align: left;
    padding-right: 23px;
}

/* PRODUCT CARD 2 */
.productCardTwo {
    margin-top: 101px;
    width: 334px;
    Height: 648px;
}

.textCardTwo {
    width: 301px;
    margin: 0px auto;
    text-align: left;
    padding-top: 50px;
    padding-left: 37px;
    padding-bottom: 58px;
}

.productCardTwo .price {
    width: 301px;
    text-align: left;
    padding-left: 32px;
    line-height: 0px;
}

.seaweedGroup {
    width: 334px;
}

.btnGroup {
    width: 174px;
    float: left;
    margin-left: 27px;
    margin-right: 23px;
}

.imgSeaweed {
    width: 98px;
    height: 203px;
    float: right;
}

.imgSeaweedSmall {
    width: 38px;
    height: 78px;
    transform: matrix(0.79, 0.61, -0.61, 0.79, 0, 0);
    margin-left: 267px;
    margin-top: -110px;
}

/* FOOTER */

footer {
    background-color: $nightBlack;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 870px;
    margin-left: 0px;
    margin-top: -130px;
    position: relative;

}

.whiteLogotype {
    height: 72.5px;
    width: 108px;
    margin-top: 73px;
    position: relative;
    left: 15px;
}

footer h3 {
    font-family: roboto;
    font-size: 24px;
    margin-left: 0px;
    margin-top: 0px;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 125px;
    top: 150px;
}

.footertext {
    position: relative;
    top: 40px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 150px;
    height: 221px;
    font-size: 24px;
    line-height: 28px;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 150px;
    height: 186px;
    font-size: 24px;
    line-height: 28px;
}

.socialmedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 600px;
}

.socialmedia span {
    display: flex;
    flex-direction: row;
}

.socialmedia p {
    text-align: center;
}

.instagramlogo {
    height: 77px;
    width: 77px;
    margin-right: 15px;
}

.instagramlogo:hover {
    cursor: pointer;
}

.facebooklogo {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(353deg) brightness(100%) contrast(104%);
    height: 77px;
    width: 77px;
    margin-left: 15px;
}

.facebooklogo:hover {
    cursor: pointer;
}

/* Ipad */
@media screen and (min-width: 834px) {

    .root {
        background-image: url("img/backgroundT1.jpg");
        width: 834px;
    }

    /* HEADER - tablet */
    header input {
        width: 389px;
        height: 44px;
        left: 239px;
        top: 72px;
    }

    header button {
        width: 120.5px;
        height: 46px;
        left: 514px;
        top: 74px;
        font-size: 24px;
    }

    header p {
        font-size: 18px;
        width: 92px;
        left: 210px;
        top: 35px;
    }

    .blueLogotype {
        height: 70px;
        width: 108px;
        margin-right: 52px;
        margin-left: 0px;
        margin-bottom: 3px;
        top: 26px;
        left: 57px;
        position: absolute;
    }

    h3 {
        font-size: 24px;
        position: absolute;
        left: 53px;
        margin: 0px;
        top: 108px;
    }

    .shoppingcart {
        right: 80px;
        height: 44px;
        width: 47px;
        margin-left: 29px;
        top: 71px;
    }

    /* NAVIGATION - tablet */
    nav ul {
        top: 145px;
        grid-template-columns: 172px 184px 194px;
        left: 90px;
        grid-gap: 48px;
    }

    /* PRODUCT CARDS */
    /* PRODUCT CARD 1 - tablet */
    .productCardOne {
        width: 725px;
        height: 516px;
        margin-top: 92px;
        margin-left: 48px;
        margin-right: 61px;
    }

    .heading {
        width: 474px;
        margin-left: 126px;
        margin-top: 60px;
    }

    .productgroup {
        width: 725px;
        margin-left: 126px;
    }

    .productgroup p {
        margin-top: 15px;
    }

    .pricegroup {
        padding-right: 141px;
        margin-top: -15px;
    }

    .imgYellowFishBig {
        display: none;
    }

    .imgYellowFish {
        width: 213px;
        height: 181px;
        margin-top: -70px;
    }

    .textCardOne {
        width: 474px;
        margin-top: 0px;
        margin-bottom: 40px;
        margin-left: 126px;
    }

    .btnGroupOne {
        width: 455px;
        margin-left: 114px;
        margin-right: 156px;
        float: left;
    }

    /* PRODUCT CARD 2 - tablet */
    .productCardTwo {
        margin-top: 136px;
        width: 472px;
        margin-left: 199px;
        margin-left: 163px;
    }

    .productCardTwo .heading {
        margin-left: 0px;
        padding-left: 0px;
    }

    .textCardTwo {
        width: 472px;
        margin-left: 0px;
        padding-left: 0px;
        padding-bottom: 59px;
    }

    .productCardTwo .price {
        margin-left: 0px;
        padding-left: 0px;
    }

    .btnGroup {
        width: 222px;
        margin-left: 10px;
    }

    .imgSeaweed {
        width: 151px;
        height: 291px;
        margin-top: -62px;
        margin-right: 45px;
    }

    .imgSeaweedSmall {
        width: 56px;
        height: 114px;
        transform: matrix(0.78, 0.57, -0.66, 0.8, 0, 0);
        margin-left: 287px;
    }

    .primary {
        width: 199px;
        height: 60px;
        margin: 0px;
        margin-right: 55px;
    }

    .secondary {
        width: 195px;
        height: 60px;
        margin: 0px;
    }

    .smallbtn {
        width: 222px;
    }

    .CardTwoPrimary {
        margin-bottom: 30px;
    }

    /* COOKIE-BANNER - tablet */
    .cookie-banner {
        width: 834px;
        height: 150px;
        bottom: 0px;
        display: grid;
        grid-template-columns: 469px 215px;
        grid-gap: 62px;
    }

    .cookie-btns-container {
        margin-top: 21px;
    }

    .cookie-banner p {
        height: 87px;
        padding-left: 56px;
    }

    .cookie-btns-container {
        padding: 0 30px;
    }

    .cookie-setting-btn {
        margin-bottom: 15px;
    }

    /* FOOTER - tablet */

    footer {
        width: 834px;
        height: 625px;
        margin-top: -140px;
    }

    footer section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 685px;
        margin-top: 50px;
    }

    .contact {
        text-align: left;
        width: 215px;
        margin-right: 75px;
    }

    .address {
        margin-top: 18px;
        text-align: left;
    }

    .socialmedia {
        top: 300px;
    }

    .socialmedia p {
        text-align: left;
    }

    .whiteLogotype {
        margin-top: 70px;
        left: 0px;
    }

    footer h3 {
        top: 200px;
        left: 70px;
    }

    .firstPage {
        width: 834px;
        margin-top: 147px;
    }

    .h1desktop {
        display: none;
    }

    h1 {
        width: 550px;
        font-size: 64px;
        line-height: 90px;
        margin-left: 163px;
        margin-right: 124px;
        margin-bottom: 15px;
    }

    .mainText {
        margin-left: 165px;
        margin-right: 145px;
        width: 524px;
        margin-bottom: 94px;
    }

    .textDesktop {
        display: none;
    }

    .genericFish {
        width: 484px;
        height: 270px;
        transform: matrix(-0.99, -0.14, -0.14, 0.99, 0, 0);
        margin-left: 177px;
        margin-right: 139px;
    }

    .bubble {
        margin-left: 180px;
        margin-bottom: -60px;
    }

}

@media screen and (min-width: 1440px) {
    .root {
        background-image: url("img/backgroundD1.jpg");
        width: 1440px;
    }

    /* HEADER DESKTOP - desktop */

    header {
        width: 1440px;
    }

    .blueLogotype {
        margin-left: 55px;
        left: 0px;
        top: 35px;

    }

    h3 {
        top: 115px;
    }

    header p {
        left: 875px;

    }

    header input {
        width: 374px;
        left: 900px;
        margin-right: 241px;
    }

    header button {
        left: 1160px;
    }

    .shoppingcart {
        margin-left: 63px;
        left: 1280px;
    }

    /* NAVIGATION - desktop */
    nav ul {
        top: 60px;
        grid-template-columns: 172px 184px 194px;
        left: 210px;
    }

    nav ul li {
        background-color: white;
        color: black;
        font-size: 24px;
        border: none;
    }

    nav ul li:hover {
        color: #8000AD;
        text-decoration: underline;
    }

    nav ul li:active {
        color: #8000AD;
        text-decoration: underline;
        background: none;
    }

    .primary {
        margin-right: 26px;
    }

    .CardTwoPrimary {
        width: 221px;
    }

    .CardTwoPrimary {
        width: 219px;
    }

    .CardTwoSecondary {
        width: 211px;
    }

    .firstPage {
        width: 1440px;
        margin-top: 147px;
        display: flex;
    }

    .textFirstPage {
        width: 545px;
        margin-left: 198px;
        margin-right: -20px;
    }

    .imgFirstPage {
        width: 518px;
        margin-right: 173px;
    }

    .genericFish {
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 97px;
        width: 518px;
        height: 337px;
        transform: matrix(-0.99, -0.14, -0.14, 0.99, 0, 0);
        margin-top: -25px
    }

    .h1smallScreens {
        display: none;
    }

    .h1desktop {
        display: inline-block;
    }

    h1 {
        width: 545px;
        font-size: 64px;
        line-height: 90px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: -25px;
    }

    .textDesktop {
        display: inline-block;
    }

    .textSmallerDev {
        display: none;
    }

    .mainText {
        margin-left: 0px;
        margin-right: 0px;
        width: 450px;
        margin-bottom: 94px;
    }

    .bubble {
        margin-left: 80px;
        margin-bottom: -120px;
    }

    /* PRODUCT CARDS - desktop */
    /* PRODUCT CARD 1 - desktop */
    .productCardOne {
        margin-top: 92px;
        margin-left: 486px;
        margin-right: 370px;
        margin-bottom: 120px;
    }

    .productCardOne .heading {
        width: 444px;
        margin-left: 157px;
        margin-top: 77px;
        margin-bottom: 0px;
    }

    .productgroup {
        width: 444px;
        margin-left: 157px;
    }

    .productgroup p {
        float: left;
        line-height: 56px;
        margin-right: 10px;
    }

    .productgroup .price {
        float: right;
        margin-bottom: 15px;
        margin-top: 12px;
        line-height: 56px;
    }

    .pricegroup {
        width: 444px;
        padding-right: 0px;
        margin-top: 0px;
        display: inline-flex;
    }

    .imgYellowFishBig {
        display: inline-flex;
        position: absolute;
        width: 388px;
        height: 297px;
        margin-top: 200px;
        margin-left: 220px;
    }

    .imgYellowFish {
        display: none;
    }

    .textCardOne {
        width: 444px;
        margin-left: 157px;
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .btnGroupOne {
        margin-left: 158px;
        margin-right: 141px;
        width: 426px;
    }

    /* PRODUCT CARD 2 - desktop */
    .productCardTwo {
        margin-top: 120px;
        width: 725px;
        margin-left: 357px;
        margin-right: 358px;
    }

    .productCardTwo .heading {
        width: 474px;
    }

    .textCardTwo {
        width: 474px;
        margin-left: 0px;
        padding-left: 0px;
        padding-bottom: 40px;
    }

    .btnGroup {
        width: 468px;
        margin-left: -3px;
    }

    .imgSeaweed {
        width: 210px;
        height: 394px;
        margin-top: -260px;
        margin-right: 0px;
    }

    .imgSeaweedSmall {
        width: 78px;
        height: 155px;
        transform: matrix(0.78, 0.57, -0.66, 0.8, 0, 0);
        margin-top: -130px;
        margin-left: 580px;
    }

    /* COOKIE-BANNER - desktop */
    .cookie-banner {
        width: 1440px;
        height: 154px;
        display: grid;
        grid-template-columns: 1000px 255px;
        grid-gap: 139px;
        bottom: 0px;
    }

    .cookie-banner p {
        margin-top: 40px;
        padding-left: 84px;
    }

    .cookie-btns-container {
        display: block;
    }

    .cookie-banner button {
        height: 43px;
        margin-bottom: 14px;
    }

    /* FOOTER - desktop */
    footer {
        width: 1440px;
        height: 316px;
        margin-top: -255px;
        margin-left: 0;
        display: flex;
        flex-direction: row;
    }

    footer section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 775px;
        margin-top: 0px;
        margin-left: 145px;
        left: 100px;
        bottom: 100px;


    }

    .whiteLogotype {
        margin-top: 70px;
        height: 80px;
        width: 106px;
        left: 0px;
        right: 250px;
        margin-right: 100px;
    }

    footer h3 {
        top: 170px;
        left: 0px;
        right: 95px;
        margin-left: 137px;
    }

    .socialmedia {
        top: 60px;
        left: 1020px;
        margin-left: 187px;
        margin-right: 139px;
    }

    .address {
        width: 350px;
        margin-top: 15px;
        margin-bottom: 90px;
        text-align: left;

    }

    .contact {
        left: 250px;
        margin-right: 190px;
        margin-left: 20px;
    }

}